body {
  background-color: aliceblue;
}


.gameboard-container {
  display: flex;
  justify-content: center;
}

.gameboard {
  display: grid;
  grid-template: repeat(3,1fr) / repeat(3,1fr);
  height: 500px;
  width: 500px;
  background-color: rgb(44, 123, 109);
}

.cell {
  border: 6px solid aliceblue;
  text-align: center;
  padding-top: 35px;
  font-size: 80px;
  font-family: Helvetica;
  color:aliceblue;
}

.cell:hover{
  background-color: rgb(110, 159, 150);
}