body {
  background-color: rgb(253, 255, 222);
}


.gameboard-container {
  display: flex;
  justify-content: center;
}

.gameboard {
  display: grid;
  grid-template: repeat(3,1fr) / repeat(3,1fr);
  height: 500px;
  width: 500px;
  background-color: rgb(44, 123, 109);
}

.cell {
  border: 6px solid rgb(253, 255, 222);
  text-align: center;
  padding-top: 35px;
  font-size: 80px;
  font-family: Helvetica;
  color:aliceblue;
}

.cell:hover {
  background-color: rgb(99, 152, 142);
}

.header {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Roboto Mono;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

#current-display {
  font-family: Roboto Mono;
  font-size: 20px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}